.filtercontainer {
    width: 300px;
    align-content: flex-start;
    background-color: violet;
}

/* table */
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
}

.entrycontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

table{
    table-layout: fixed;
    width: 100%;
}

tr {
    font-size: 18px;
}
