.filtercontainer {
    width: 300px;
    align-content: flex-start;
    background-color: violet;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
}

.entrycontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.meishi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: lavender;
    gap: 50px;
    padding: 20px;
    align-items: baseline;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: large;
}