.sidebar-main {
    background-color: #066ca6;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 150px; */
    box-shadow: -11px 0px 13px 20px rgba(0,0,0,0.3);
    
}

.paperclip-logo {
    width: 60px;
    height: 75px;
}

.logo-underline{
    border-bottom: rgba(255,255,255,0.5) solid 1px;
    width:90%;
    margin: auto;
    margin-bottom: 15px;

}

.sidebar-button-container {
    height: 100px;
}

.sidebar-button {

    width: 100px;
    height: 100px;
    padding: 25px;
    color: white;

}

.fa-gauge-high {
    width: 50px;
    height: 50px;
}

.sidebar-button:hover{
    background-color: #4080a5;
}

.sidebar-button-active {
    background-color: #122f5ac8;
    height: 100px;
    position: absolute;
    left: 0;
}



.avatar-user-info {


    /* position: relative;
    
    bottom: 0px; */
    margin: 10px auto;
    margin-bottom: 30px;
    /* align-self: flex-end; */




}