:root {
    --sidebar-width: 70px;
    --sidebar-button-padding: 15px;
}

.sidebar-main {
    background-color: #066ca6;
    /* width: var(--sidebar-width); */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -11px 0px 13px 20px rgba(0,0,0,0.3);   
    /* transition: flex 500ms ease-in-out; */
}

.sidebar-icons-top {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.toggle-sidebar-button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: -0.75rem;
    z-index: 99;
    color: rgba(18,60,106,255);
    background-color: white;
    cursor: pointer;
    transform: rotatez(180deg);
    transition: transform 400ms ease-in-out;
    box-shadow: 0px 0px 10px grey;
    border-radius: 50%;
}

.toggle-sidebar-button-open {
    transform: rotatey(0deg);
}

.paperclip-logo-container {
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    align-items: center;
    transition: width 500ms ease-in-out;

}

.sidebar-icons-top p {
    margin: 0px;
    margin-right: 40px;

}

.paperclip-logo {
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    padding: 15px
}

.logo-underline{
    border-bottom: rgba(255,255,255,0.5) solid 1px;
    width: calc(100% - 10px);
    margin: auto;
    align-self: center;
    margin-bottom: 15px;

}

.sidebar-button-container {
    height:  var(--sidebar-width);
    width: 100%;
    left:0;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.sidebar-button-container:hover {
    background-color: #4080a5;
}

.sidebar-button-link {
    position: absolute;
    left: 0;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sidebar-button-link:hover {
    background-color: #4080a5;

}

.sidebar-button-link-active {
    /* background-color: rgba(18, 47, 90, 0.784); */
    background-color:rgba(18,60,106,255);
    height: var(--sidebar-width);

}

.sidebar-button {
    width:  var(--sidebar-width);
    height:  var(--sidebar-width);
    padding: var(--sidebar-button-padding);
    color: white;
    /* position: absolute;
    left: 0; */


}

.fa-gauge-high {
    width:calc(var(--sidebar-width) - 2* var(--sidebar-button-padding));
    height:calc(var(--sidebar-width) - 2* var(--sidebar-button-padding));
}

.sidebar-text {
    color: white;
    transition: transform 200ms ease-in-out;
    margin: 0;
}

.sidebar-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.avatar-user-info {
    width: var(--sidebar-width);

    margin:5px;
    margin-bottom: 30px;
}

.sidebar-avatar > .sidebar-text {
    margin-bottom: 15px;
    margin-left: 15px;
}