:root {
    --sidebar-width: 70px;
    --sidebar-button-padding: 15px;
}

.sidebar-main {
    background-color: #066ca6;
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -11px 0px 13px 20px rgba(0,0,0,0.3);
}

.toggle-sidebar-button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: -0.75rem;
    z-index: 99;
    color: rgba(18,60,106,255);
    background-color: white;
    cursor: pointer;
    transform: rotatez(0deg);
    transition: transform 200ms ease-in-out;
    box-shadow: 0px 0px 10px grey;
    border-radius: 50%;
}
.paperclip-logo-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.paperclip-logo {
    width: 35px;
    height: var(--sidebar-width);
}

.logo-underline{
    border-bottom: rgba(255,255,255,0.5) solid 1px;
    width:90%;
    margin: auto;
    margin-bottom: 15px;

}

.sidebar-button-container {
    height:  var(--sidebar-width);
}

.sidebar-button {

    width:  var(--sidebar-width);
    height:  var(--sidebar-width);
    padding: var(--sidebar-button-padding);
    color: white;

}

.fa-gauge-high {
    /* width: calc( var(--sidebar-width)/2);
    height: calc( var(--sidebar-width)/2); */
    width:calc(var(--sidebar-width) - 2* var(--sidebar-button-padding));
    height:calc(var(--sidebar-width) - 2* var(--sidebar-button-padding));
}

.sidebar-button:hover{
    background-color: #4080a5;
}

.sidebar-button-active {
    background-color: rgba(18, 47, 90, 0.784);
    /* background-color:rgba(18,60,106,255); */
    height: var(--sidebar-width);
    position: absolute;
    left: 0;
}



.avatar-user-info {


    /* position: relative;
    
    bottom: 0px; */
    
    margin: 10px auto;
    margin-bottom: calc(var(--sidebar-width)/2);
    /* align-self: flex-end; */




}