.modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 30px;
    justify-content: space-evenly;
    width: 330px;
    height: 280px;
    background-color: #B2B6FF;
    padding: 20px;
    box-shadow: 5px 10px;
    align-items: center;

}

.title {
    font-size: 28px;
}

.entryblock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dashboard {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.ratioblock{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 30px;
    justify-content: space-evenly;
    border: 5px purple;
    width: 800px;
    background-color: #B2B6FF;
    padding: 20px;
    box-shadow: 5px 10px;
    justify-content: center;
    align-items: center;
}

.ratiopadding {
    padding: 10px;
}

.pie {
    width: 150px; height: 150px;
    border-radius: 50%;
    background: green;
    background-image:
    linear-gradient(to right, transparent 50%, pink 0);
  }
  
.barchart{
    width: 250px;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */


