.dashboard {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px 60px;
}



/* dashboard module */
.block {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 30px;
    justify-content: space-evenly;
    width: 330px;
    height: 280px;
    background-color: #D4EAEF;
    padding: 20px;
    box-shadow: 5px 10px;
    align-items: center;
}

.title {
    font-size: 28px;
}

.entryblock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




/* graph section */
.ratioblock{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 800px;
    background-color: #D4EAEF;
    padding: 20px;
    box-shadow: 5px 10px;
    padding-top: 30px;
    gap: 30px;
}

.ratiotitle{
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.pie {
    margin-left: auto;
    margin-right: auto;
    width: 150px; height: 150px;
    border-radius: 50%;
    background: lightseagreen;
    background-image:
    linear-gradient(to right, transparent 50%, pink 0);
  }
  
/* bar chart section */
.barchart{
    width: 240px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.chartcontainer {
  width: 100%; 
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D;} 
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}


